CompilationDatabase:
  Directory: build

---

If:
  PathMatch: .*\.(cpp|cc|cxx|h|hpp)
CompileFlags:
  Add: [-std=c++14, -Iinclude, -DGTEST_HAS_PTHREAD=1]

---

If:
  PathMatch: .*\.c
CompileFlags:
  Add: [-std=c11, -Iinclude]
